@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Carme|Muli|Hind|Roboto+Condensed);
body {
    padding-top: 75px;
    background-color: #D4FFF7;
    font-family: 'Muli';
}
nav {
    background-color: #ffffff;
    color: #000000;
}
.sass {
    font-family: 'Playball';
    font-size: 16px;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    background-color: #ffffff;
    color: #545454;
}
.navbar-brand {
    font-family: 'Playball';
    font-size: 55px;
    color: #000000;
    padding-left: 30px;
}
.navright {
    font-size: 20px;
    color: #000000;
}
.navbar-brand:hover {
    color: #545454;
}
.navSass {
    font-family: 'Playball';
    font-size: 23px;
}
#apt {
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-left: 100px;
}
#list {
    position: absolute;
    top: 60px;
    bottom: 20px;
    margin-left: 50px;
    overflow-y: scroll;
}
#sendsass {
    text-align: center;
    float: right;
    padding-top: 125px;
}
.title:hover {
    text-decoration: none;
    color: black;
}
#container {
    padding-right: 75px;
    margin-right: 75px;
    width: 550px; 
    height: 550px; 
}
#mychores {
    text-align: center;
}
h1 {
    font-size: 30px;
    padding-top: 50px;
}
.choreIcon {
    font-size: 25px; 
    color: #000000; 
}
.choreIcon:hover {
    text-decoration: none;
    color: #545454;
}
p {
    font-size: 15px;
    padding-bottom: 10px;
}
.chores {
    text-align: center;
}
input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.1); /* IE */
    -moz-transform: scale(1.1); /* FF */
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -o-transform: scale(1.1); /* Opera */
    padding: 10px;
}
h3 {
    font-size: 25px;
    display: inline-block;
}
.btn-primary {
    display: inline-block;
    float: right;
    margin: 30px;
    color: #2298BF;
    background: #ffffff;
}
.btn-primary:hover {
    color: #ffffff;
    background: #2298BF;
}
.tab {
    margin-left: 15px;
    font-size: 20px;
    
}
form {
    margin: 0;
    font-size: 15px;
}
#contactinfo {
    font-size: 25px;
}
#send {
    float: right;
    margin: 0;
    margin-right: 50px;
    color: #1BAB5A;
    background: #ffffff;
}
#send:hover {
    margin: 0;
    margin-right: 50px;
    color: #ffffff;
    background: #1BAB5A;
}
.welcome {
    font-family: 'Playball';
    color: #000000;
    font-size: 75px;
}
.welcome:hover {
    text-decoration: none;
    color: #545454;
}
#log {
    margin-top: 100px;
    text-align: center;

}
#logbtn {
    display: inline-block;
    float: none;
    color: #2298BF;
    background: #ffffff;
}
#logbtn:hover {
    display: inline-block;
    float: none;
    color: #ffffff;
    background: #2298BF;
}
#signbtn {
    float: none;
    color: #CC495D;
    background: #ffffff;
}
#signbtn:hover {
    float: none;
    color: #ffffff;
    background: #CC495D;
}
textarea {
    margin: 5px;
}