@import url(https://fonts.googleapis.com/css?family=Playball|Open+Sans);
body {
    padding-top: 75px;
    background-color: #D4FFF7;
    font-family: 'Open Sans';
}
nav {
    background-color: #ffffff;
}
.navbar-brand {
    font-family: 'Playball';
    font-size: 45px;
    color: #000000;
    padding-left: 30px;
}
#navright {
    font-size: 20px;
    color: #000000;
}
.navbar-brand:hover {
    color: #467CC2;
}
#list {
    position: absolute;
    top: 50px;
    bottom: 20px;
    left: 20px;
    overflow-y: scroll;
}
#sendsass {
    text-align: center;
    float: right;
}
.title:hover {
    text-decoration: none;
    color: black;
}
#container {
    padding-left: 20px;
    width: 600px; height: 600px; margin: 0 auto;
}
#mychores {
    text-align: center;
}