<!DOCTYPE html>
<head>
	<!-- Meta tags -->
	<title>Sassmates</title>
	<!-- Scripts -->
	<script src="//d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<!-- Styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sassmates</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="navright">
                    <li><a class="navright" href="/sendSass">Send <span class="navSass">Sass</span></a></li>
                    <li><a class="navright" href="#">Settings</a></li>
                    <li><a class="navright" href="/login">Log out</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</head>
<body>
	<!-- Content -->
    <div class-"container-fluid">
        <div class="row">
            <h5 id="apt">Hack Haus</h5>
            <div class="col-md-6" id="mychores">
                <div class="chores">
                    <h1>Your Chores</h1>
                    <div class="chore">
                        <h2><a class="choreIcon" href="#">
                            <i class="fa fa-check-square-o"></i> Trash</a></h2>
                        <p>1 day overdue - any time now...</p>
                    </div>

                </div>
                <div class="chores">
                    <h1>Upcoming Chores</h1>
                    <h2>Dishes</h2>
                    <p>About 7 days until it's your turn</p>
                </div>
            </div>
            <div class="col-md-6">
                <div id="container">
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                </div>
            </div>
        </div>
    </div>
	<!-- Blocking scripts/Need DOM -->
	<script type="text/javascript" src="/static/pie-chart.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>