<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="resources/mypicture2.jpg">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <title>SassMates</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" >My Chores</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="sendSass.html">Sass</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <body>
        <!-- The class creates a margin and sets the following text/pictures at the center-->
        <div class="sendSass-container">
            <!-- Info of chars (1/3  of page) -->
            <div class="col-1-3">
                List of chores (sorted by due date):

                <!-- Chore 1. Trash -->
                <div class="row">
                    <div class="col-md-6">

                        <!-- Trash by Jaclyn-->

                        <div class="Chore">
                            <div class="chore-title">
                                Taking out the trash
                            </div>
                            <div class ="Person">
                                Jaclyn Iullianetti
                            </div>
                            <div class="days-left">
                                Days left: 1
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Send sass message (2/3 of page) -->

            <div class="col-2-3">
            Send Sass to someone
            </div>

        </div>
    </body>


</html>