<!DOCTYPE html>
<html>
    <head>
        <script src="https://use.typekit.net/zas7rhg.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="shortcut icon" href="resources/mypicture2.jpg">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <title>Sassmates</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <nav class="navbar navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Sassmates</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="navright">
                        <li><a class="navright" href="/sendSass">Send <span class="navSass">Sass</span></a></li>
                        <li><a class="navright" href="/settings">Settings</a></li>
                        <li><a class="navright" href="/login">Log out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </head>
    <body>
        <!-- The class creates a margin and sets the following text/pictures at the center-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" id="list">
                    <h3>Kitchen:</h3>
                    <button type="button" class="btn btn-default">Send <span class="sass">Sass</span></button>
                    <p class="tab">Spencer is 8 days late</p>
                    <h3>Trash:</h3>
                    <button type="button" class="btn btn-default">Send <span class="sass">Sass</span></button>
                    <p class="tab">Jaclyn is 1 day late</p>
                    <h3>Sweeping:</h3>
                    <button type="button" class="btn btn-default">Send <span class="sass">Sass</span></button>
                    <p class="tab">Adrian is 1 day late</p>
                    <h3>Dishes:</h3>
                    <button type="button" class="btn btn-default">Send <span class="sass">Sass</span></button>
                    <p class="tab">Jaclyn has 2 days left</p>
                    <h3>Bathroom:</h3>
                    <button type="button" class="btn btn-default">Send <span class="sass">Sass</span></button>
                    <p class="tab">Ali has 3 days left</p>
                    <h3>Dusting:</h3>
                    <button type="button" class="btn btn-default">Send <span class="sass">Sass</span></button>
                    <p class="tab">Adrian has 5 days left</p>
                    <h3>Groceries:</h3>
                    <button type="button" class="btn btn-default">Send <span class="sass">Sass</span></button>
                    <p class="tab">James has 7 days left</p>
                </div>
                <div class="col-md-7 col-md-offset-1" id="sendsass">
                    <form id="contactinfo">
                        Send sass to
                        <select name="Name">
                            <option value="choose">Choose a name</option>
                            <option value="jaclyn">Jaclyn</option>
                            <option value="nj">NJ</option>
                            <option value="adrian">Adrian</option>
                            <option value="ali">Ali</option>
                            <option value="james">James</option>
                            <option value="spencer">Spencer</option>
                        </select>
                        for
                        <select name="Chore">
                            <option value="choose">Choose a chore</option>
                            <option value="trash">Trash</option>
                            <option value="dishes">Dishes</option>
                            <option value="dusting">Dusting</option>
                            <option value="sweeping">Sweeping</option>
                            <option value="bathroom">Bathroom</option>
                            <option value="kitchen">Kitchen</option>
                            <option value="grocery">Grocery</option>
                        </select>
                    </form>
                    <form id="contactinfo">
                        <select name="Sass">
                            <option value="choose">Select a suggested sass</option>
                            <option value="sass">What's that smell? You or the trash?</option>
                            <option value="sass">Should we just order a second trashcan?</option>
                            <option value="sass">Studies show that 5 out of 6 roommates agree you should clean the toilet.</option>
                            <option value="sass">So you'll pick up paper plates on the way home..?</option>
                        </select>
                    </form>
                    <form>
                        <textarea placeholder="Type your custom sass here" name="message" rows="10" cols="75"></textarea>
                    </form>
                    <button type="button" id="send" class="btn btn-default">Send</button>
                </div>
            </div>
        </div>
    </body>
</html>