<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="resources/mypicture2.jpg">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <title>SassMates</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Sassmates</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/sendSass">Sass</a></li>
                        <li><a href="/settings">Settings</a></li>
                        <li><a href="/login">Log out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </head>
    <body>
        <!-- The class creates a margin and sets the following text/pictures at the center-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5" id="list">
                    <h1>Chore</h1>
                    <h2>Person is x days late</h2>
                    <h1>Chore</h1>
                    <h2>Person is x days late</h2>
                    <h1>Chore</h1>
                    <h2>Person has x days left</h2>
                    <h1>Chore</h1>
                    <h2>Person has x days left</h2>
                    <h1>Chore</h1>
                    <h2>Person has x days left</h2>
                    <h1>Chore</h1>
                    <h2>Person has x days left</h2>
                </div>
                <div class="col-md-7" id="sendsass">
                    <form id="contactinfo">
                        Send sass to
                        <select name="Name">
                            <option value="choose">Choose a name</option>
                            <option value="jaclyn">Jaclyn</option>
                            <option value="nj">NJ</option>
                            <option value="adrian">Adrian</option>
                            <option value="jess">Jess</option>
                            <option value="taylor">Taylor</option>
                            <option value="spencer">Spencer</option>
                        </select>
                        for
                        <select name="Chore">
                            <option value="choose">Choose a chore</option>
                            <option value="trash">Trash</option>
                            <option value="dishes">Dishes</option>
                            <option value="dusting">Dusting</option>
                            <option value="sweeping">Sweeping</option>
                            <option value="bathroom">Bathroom</option>
                            <option value="kitchen">Kitchen</option>
                            <option value="grocery">Grocery</option>
                        </select>
                    </form>
                    <form>
                        <textarea name="message" rows="10" cols="50">
                            Type your custom sass here.
                        </textarea>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>